$font-family: "Nunito", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
  "sans-serif";
$primary-color: #3dbd5d;

@mixin transtions($property) {
  -webkit-transition: $property 0.2s linear;
  -moz-transition: $property 0.2s linear;
  -ms-transition: $property 0.2s linear;
  -o-transition: $property 0.2s linear;
  transition: $property 0.2s linear;
}

header {
  padding-top: 2em;
  font-family: $font-family;
  .date {
    font-size: 1.3rem;
    font-weight: 600;
  }
}

.form-save {
    display: flex;
}

.is-task-done {
  text-decoration: line-through;
}

.container {
  margin: 0 auto;
  max-width: 920px;
  width: 90%;
}

button {
    font-family: $font-family;
    font-size: 1.2em;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 2px;
    display: inline-block;

    color: white;
    border: 0;
    background-color: $primary-color;
    @include transtions(background-color);

    &:hover {
      background-color: darken($color: $primary-color, $amount: 10%);
    }

    .svg-icon-save {
        width: 20px;
        height: 20px;
        transform: scale(1.5);
    }
  }

.form-group {
  padding: 1em 0 4em;
  display: flex;

  input {
    border-radius: 0px !important;
    border: 0px;
    border-bottom: 1.3px solid $primary-color;
    width: 40%;
    height: 38px;
    margin-right: 2em;
    font-size: 1em;
    color: #35342f;
    &:focus {
      outline: none;
    }
  }
}

.delete-btn {
  background-color: transparent;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  border: 0;
  padding: 0;
  cursor: pointer;
  @include transtions(background-color);

  .svg-icon {
    height: 20px;
    fill: $primary-color;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #f1f2f0;
    .svg-icon {
      fill: darken($color: $primary-color, $amount: 10%);
    }
  }
}

.task-table {
  font-family: $font-family;
  font-size: 1em;
  width: 100%;
  border-collapse: collapse;
  tr {
    height: 60px;

    td {
      border-bottom: 1px solid $primary-color;
    }

    .delete-btn-row {
      text-align: right;
    }
  }
}

.custom-select {
  display: inline-block;
  position: relative;
  background: $primary-color;
  overflow: hidden;
  border-radius: 0.25em;
  margin-right: 1em;

  &:after {
    position: absolute;
    content: "";
    top: 20px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: $primary-color;
  font-family: $font-family;
  font-size: 1.2em;
  background-image: none;
  padding: .5em 2em .5em 1em;
  color: #fff;
  cursor: pointer;

  &:-ms-expand {
    display: none;
  }
}
