@import url(https://fonts.googleapis.com/css?family=Nunito);header {
  padding-top: 2em;
  font-family: "Nunito", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", "sans-serif";
}

header .date {
  font-size: 1.3rem;
  font-weight: 600;
}

.form-save {
  display: flex;
}

.is-task-done {
  text-decoration: line-through;
}

.container {
  margin: 0 auto;
  max-width: 920px;
  width: 90%;
}

button {
  font-family: "Nunito", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", "sans-serif";
  font-size: 1.2em;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 2px;
  display: inline-block;
  color: white;
  border: 0;
  background-color: #3dbd5d;
  transition: background-color 0.2s linear;
}

button:hover {
  background-color: #31964a;
}

button .svg-icon-save {
  width: 20px;
  height: 20px;
  transform: scale(1.5);
}

.form-group {
  padding: 1em 0 4em;
  display: flex;
}

.form-group input {
  border-radius: 0px !important;
  border: 0px;
  border-bottom: 1.3px solid #3dbd5d;
  width: 40%;
  height: 38px;
  margin-right: 2em;
  font-size: 1em;
  color: #35342f;
}

.form-group input:focus {
  outline: none;
}

.delete-btn {
  background-color: transparent;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  border: 0;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.delete-btn .svg-icon {
  height: 20px;
  fill: #3dbd5d;
}

.delete-btn:focus {
  outline: none;
}

.delete-btn:hover {
  background-color: #f1f2f0;
}

.delete-btn:hover .svg-icon {
  fill: #31964a;
}

.task-table {
  font-family: "Nunito", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", "sans-serif";
  font-size: 1em;
  width: 100%;
  border-collapse: collapse;
}

.task-table tr {
  height: 60px;
}

.task-table tr td {
  border-bottom: 1px solid #3dbd5d;
}

.task-table tr .delete-btn-row {
  text-align: right;
}

.custom-select {
  display: inline-block;
  position: relative;
  background: #3dbd5d;
  overflow: hidden;
  border-radius: 0.25em;
  margin-right: 1em;
}

.custom-select:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #3dbd5d;
  font-family: "Nunito", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", "sans-serif";
  font-size: 1.2em;
  background-image: none;
  padding: 0.5em 2em 0.5em 1em;
  color: #fff;
  cursor: pointer;
}

select:-ms-expand {
  display: none;
}

